.container {
  border: solid green 2px;
  height: 500px;
  width: 500px;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  border: solid rgb(7, 15, 7) 2px;
  height: 6.66666667%;
  width: 6.66666667%;
  box-sizing: border-box;
}
