.container {
  border: solid green 2px;
  height: 500px;
  width: 500px;

  display: flex;
  flex-wrap: wrap;
}

.box {
  border: solid rgb(7, 15, 7) 2px;
  height: 62.5px;
  width: 62.5px;
  box-sizing: border-box;
}
